.auth-form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.auth-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-form {
  margin-bottom: 15px;
}

.input-form label {
  display: block;
  margin-bottom: 5px;
}

.input-form input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.btn-log-in {
  width: 100%;
  padding: 10px;
  background-color: #2878a7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.error-shake {
  animation: shake 0.3s;
  border: red 1px solid;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}


.auth-form.entering {
    animation: slideInInput 0.5s ease-out forwards;
}

.auth-form.exiting {
    animation: slideOutInput 0.5s ease-in forwards;
}

@keyframes slideInInput {
    from { opacity: 0; transform: translateX(-50px); }
    to { opacity: 1; transform: translateX(0); }
}

@keyframes slideOutInput {
    from { opacity: 1; transform: translateX(0); }
    to { opacity: 0; transform: translateX(-50px); }
}