.logged-in {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    animation: slideIn 0.5s ease-out forwards;
}
.logged-in 
.logged-in h1 {
    margin-bottom: 10px;
}

.logged-in h2 {
    margin-bottom: 20px;
}

.btn-log-out {
    width: 100%;
    padding: 10px;
    background-color: #a72828;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logged-in.exit {
    animation: slideOut 0.5s ease-in forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.logged-in.exit {
    animation: slideOut 0.5s ease-in forwards;
}

@keyframes slideOut {
    from {
        opacity: 0;
        transform: translateY(0px);
    }

    to {
        opacity: 1;
        transform: translateY(-20px);
    }
}