.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px;
}

.pop-wrapper {
    opacity: 0;
    transform: scale(0);
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.pop-wrapper {
    box-sizing: border-box;
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
    min-width: 200px;
    min-height: 200px;
    display: flex;
    align-items: center;
}

.pop-wrapper.visible {
    opacity: 1;
    transform: scale(1);
}