.city-search-container {
  position: relative;
  max-width: 400px;
  margin: 0 auto 20px auto;
  color: black;
}

.city-search-container input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.suggestions-list {
  list-style: none;
  padding: 0;
  margin: 5px 0 0 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  z-index: 1000;


  opacity: 0;
  transform: translateY(-10px); 
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.search-loader {
  margin-top: 10px;
  margin-bottom: 10px;
}


.suggestions-list li {
  padding: 10px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
}

.suggestions-list.visible {
  opacity: 1;
  transform: translateY(0);
}